<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script>
    window.onload = function () {
        /*var customerLoader = new XMLHttpRequest();
        customerLoader.onreadystatechange = function(){
            if(customerLoader.status == 200){
                document.getElementById('name').value = "";
                document.getElementById('tel').value = "";
                document.getElementById('email').value = "";
                document.getElementById('message').value = "";
                var url = "http://127.0.0.1:8000/main/";
                var method = "GET";
                customerLoader.open(method, url, true);
                customerLoader.send();
            }
        }*/
        //var customerForm = document.getElementById('customer-form');
        customerForm.addEventListener('submit', function (evt) {
            var customerUpdater = new XMLHttpRequest();
            var name = document.getElementById('name');
            var tel = document.getElementById('tel');
            var email = document.getElementById('email');
            var message = document.getElementById('message');
            evt.preventDefault();
            var url = "http://127.0.0.1:8000/main/";
            var method = 'POST';
            var data = JSON.stringify({name: name.value, tel: tel.value, message: message.value, email: email.value});
            customerUpdater.open(method, url, true);
            customerUpdater.setRequestHeader('Content-Type', 'application/json');
            customerUpdater.send(data);
        })
    }
</script>
<body>
<form id="customer-form" method="post">
    {% csrf_token %}
    <p><input type="hidden" name="id" id="id"></p>
    <p>Name : <input type="text" name="name" id="name"></p>
    <p>Phone : <input type="text" name="tel" id="tel"></p>
    <p>E-mail : <input type="text" name="email" id="email"></p>
    <p>Message : <input type="text" name="message" id="message"></p>
    <input type="submit" name="" id="">
</form>
</body>
</html>